body {
    padding: 0;
    margin: 0;
}

.info_page {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Allows child elements to position themselves over it */
    width: 1526px; /* Full width */
    height: 100vh; /* Full viewport height */
    background-image: url('Information_Pictures/background.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.portfolio-container{
    display: flex;
    align-items: center;
    width: 1321px;
    height: 486px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    backdrop-filter: blur(2px);
    padding: 50px;
    margin-bottom: 50px;
}

.background {
    display: relative;
    width: 1526px;
    margin-top: 70px;
    margin-bottom: -5px;
    z-index: 0;
}

.profile-container {
    height: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 10px, 10px, 10px, rgba(0, 0, 0, 1);
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    width: 1035px;
    height: 100%;

}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    margin-top: 0;
    margin-left: 50px;
    font-weight: 700;
    color: white;
}

.Content {
    width: 100%;
    padding-left: 50px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    margin-top: 0;
    font-weight: 500;
    color: white;
    padding-right: 50px;
}